@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}
body{
  background-color: blueviolet;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.to-do-list-container{
  background-color: white;
  padding: 2rem;
  border-radius: .8rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2);
}

.to-do-list-container h1{
  color: blueviolet;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.input-container{
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-bottom: 2rem;
}

.input-container input{
  border: none;
  border-bottom: 1px solid blueviolet;
  font-size: 1.2rem;
}

.input-container input:focus{
  outline: none;
  
}

.btn{
  background-color: blueviolet;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.btnclose{
  background-color: blueviolet;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 50%;
}
.btnclose:hover{
  background-color: red;
}
.material-symbols-outlined{
  color: white !important;
}

.items-container{
  align-self:flex-start;
}
li{
  color: blueviolet;
}
ul div{
  display: flex;
  gap: 1.2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}